<% if @current_user %>
<ul>
  <% @current_user.lists.each do |list| %>
  <li>
    <%= link_to list.title, list_items_url(list), :id => "ListTitle" %> | 
    <%= link_to 'Edit', edit_list_url(list) %> | 
    <%= link_to 'Delete', list, confirm: 'Are you sure?', method: :delete %>
   <% end %>
  </li>
</ul>

<%= link_to 'New List', new_list_path %>

<% else %>

  <ul>
    <% @lists.each do |list| %>
    <% list.items.each do |item| %>
      <% if item.image_url.to_s.present? %>
      <li> <%= image_tag item.image_url.to_s %> </li>
      <% end %>
    <% end %>
    <% end %>
    
  </ul>

<% end %>