<%= form_for(@item, :url => { :action => "create" }) do |f| %>
 
<!-- <%# if @current_user.lists.find(params[:list_id]).items.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@current_user.lists.find(params[:list_id]).items.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <%# @current_user.lists.find(params[:list_id]).items.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

<h3><%= @current_user.lists.find(params[:list_id]).title %> Bucket List</h3>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
