<h1>Editing item</h1>

<%= form_for(@item, :url => list_item_url(:list_id => params[:list_id],:id => params[:id])) do |f| %>
 

<h3><%= @current_user.lists.find(params[:list_id]).title %> Bucket List</h3>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %><br />
  </p>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Cancel', list_items_url %>