<h1><%#= User.first_name %>'s Bucket List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Details</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.details %></td>
    <td><%= item.list_id %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if session[:uid].present? %>
	<%= link_to 'New Item', new_item_path %>
<% end %>