<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Details:</b>
  <%= @item.details %>
</p>

<%= link_to 'Edit', edit_list_item_url(:list_id => params[:list_id], :id => params[:id]) %> |
<%= link_to 'Back', list_items_url %>
