<!DOCTYPE html>
<html>
<head>
  <title>Just Buck It</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "My Bucket List", root_url %></h1>
<nav>
	<ul>
		<% if session[:uid].present? %>
		<li id="nav">
			<%= link_to "View Profile", user_url(User.find_by_id(session[:uid])) %>	
		</li>
		<li id="nav">
			<%= link_to "Sign Out", sign_out_url %>
		</li>
		<% else  %>
			<li id="nav"><%= link_to "Sign In", new_sessions_url %></li>
			<li id="nav"><%= link_to "Sign Up", new_user_url %></li>
		<% end %>
		<li id="nav"><a href="#">Team</a></li>
		<li id="nav"><a href="#">About</a></li>
	</ul>
	
	
</nav>

<%= yield %>

</body>
</html>
